DEVELOPMENT_USERNAME=
DEVELOPMENT_PASSWORD=
DEVELOPMENT_DATABASE=
DEVELOPMENT_HOST=

TEST_USERNAME=
TEST_PASSWORD=
TEST_DATABASE=
TEST_HOST=

PRODUCTION_USERNAME=
PRODUCTION_PASSWORD=
PRODUCTION_DATABASE=
PRODUCTION_HOST=

SECRET=